<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->


<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>CONTACT US</h2>
                    <p>Please message or call us if you receive comments or complaints from the store.</p>
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Address: 475A, Điện Biên Phủ, Bình Thạnh, Hồ Chí Minh
                            </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Phone: +8486543471</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: hutech@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments::instagram-box}">
</div>
<footer th:replace="~{fragments::footer}">
</footer>
<div th:replace="~{fragments::script}"></div>
</body>

</html>